<fieldset>
<div class="form-group">
    <label for="listing-title">Title</label>
    <input type="title" name="title" class="form-control" id="title">
</div>
<div class="form-group">
    <label for="listing-address">Street Address</label>
    <input type="address" name="address" class="form-control" id="listing-address" placeholder="123 Street Name Ave">
</div>
<div class="form-group">
    <label for="listing-rent">Rent Amount</label>
    <input type="rent" name="rent" class="form-control" id="listing-rent" placeholder="$0.00">
</div>
<div class="form-group">
    <label for="listing-description">Description</label>
    <textarea type="description" name="description" class="form-control" id="listing-description"></textarea>
</div>
<div class="form-group">
    <label for="listing-district">District</label>
    <input name="district" type="text" class="form-control" id="listing-district" placeholder="Inner Sunset">
</div>
</fieldset>
