{{!-- <nav class="navbar navbar-light bg-light">
    <div class="container" style= "padding-right: 0px; padding-left: 0px;">
        <a class="navbar-brand" href="/">
            <img src="../images/logo.png" width="60" height="40" alt="">
        </a>
      
        <div class="row">
            <div class="col-xs-12">
                <div class="text-right">
                    <a href="/sign-up"><button class="btn btn-primary" type="submit">Getting Started</button></a>
                    <a href="/login"><button class="btn btn-primary" type="submit">Login</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</nav> --}}


<div class = "bg">
        <div class = "nav">
            <ul>
                <li style="float:left"><a class="active" href="/">
                    <img src="../images/logo.png">
                </a></li>
                <li style="float:right"><a href="/sign-up"><button class="btn btn-primary" type="submit">Getting Started</button>
                </a></li>
                <li style="float:right"><a href="/login"><button class="btn btn-primary" type="submit">Login</button>
                </a></li>
            </ul>
        </div>

        

</div>
