{{!-- <link rel="stylesheet" href="../../css/nav.css"> --}}
{{!-- <nav class="navbar navbar-light bg-light">
    <div class="container" style= "padding-right: 0px; padding-left: 0px;">
        <a class="navbar-brand" href="/">
            <img src="../images/logo.png" width="60" height="40" alt="">
        </a>
      
        <div class="row">
            <div class="col-xs-12">
                <div class="text-right">
                    <a href="/sign-up"><button class="btn btn-primary" type="submit">Getting Started</button></a>
                    <a href="/login"><button class="btn btn-primary" type="submit">Login</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</nav> --}}


{{!-- <div class = "bg">
        <div class = "nav">
            <ul>
                <li style="float:left"><a class="active" href="/">
                    <img src="../images/logo.png">
                </a></li>
                <li style="float:right"><a href="/sign-up"><button class="btn btn-primary" type="submit">Getting Started</button>
                </a></li>
                <li style="float:right"><a href="/login"><button class="btn btn-primary" type="submit">Login</button>
                </a></li>
            </ul>
        </div>
</div> --}}

<nav class="navbar navbar-light" style="background-color: #41ADDA;">
<a class="navbar-brand" href="/">
    <img src="../images/logo.png" width="70" height="70" class="d-inline-block align-top" alt="">
</a>

<ul>
    {{#if currentUser}}
    <li><a href="/listings/new" class="btn btn-primary navbar-btn">New Listing</a></li>
    <a href="/reviews/new" class="btn btn-primary navbar-btn">New Review</a>
    <li><a href="/logout" class="btn btn-primary navbar-btn">Log Out</a></li>
    {{else}}
    <li style="float:right"><a href="/sign-up"><button class="btn btn-primary" type="submit">Sign Up</button>
    </a></li>
    <li style="float:right"><a href="/login"><button class="btn btn-primary">Login</button>
    </a></li>
    {{/if}}
    
</ul>

</nav>
  
<div class="container">
    <a href="/listings" class="btn btn-primary navbar-btn">Listings</a>
    <a href="/reviews" class="btn btn-primary navbar-btn">Reviews</a>
</div>

{{!-- <div class="container">
 
  <a class="btn cta bg">Sign Up</a>
<a class="btn cta bg">Login</a>

</div> --}}


