body{
    color: rgb(0, 0, 0);
    background: #96E8F3;
    font-family: 'Roboto', sans-serif;
}
.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}